In [41]:
import explore as e
import outliers as o
import wrangle as w
import pandas as pd
import numpy as np

## 2.  Is there a cohort that referred to a lesson significantly more than other cohorts seemed to gloss over?

In [47]:
df = w.get_log_data()

In [48]:
df

,Timestamp,Resource,User_ID,Access_Type,IP_Address
2018-01-26,09:55:03,/,1,8.0,97.105.19.61
2018-01-26,09:56:02,java-ii,1,8.0,97.105.19.61
2018-01-26,09:56:05,java-ii/object-oriented-programming,1,8.0,97.105.19.61
2018-01-26,09:56:06,slides/object_oriented_programming,1,8.0,97.105.19.61
2018-01-26,09:56:24,javascript-i/conditionals,2,22.0,97.105.19.61
...,...,...,...,...,...
2021-04-21,16:41:51,jquery/personal-site,64,28.0,71.150.217.33
2021-04-21,16:42:02,jquery/mapbox-api,64,28.0,71.150.217.33
2021-04-21,16:42:09,jquery/ajax/weather-map,64,28.0,71.150.217.33
2021-04-21,16:44:37,anomaly-detection/discrete-probabilistic-methods,744,28.0,24.160.137.86
2021-04-21,16:44:39,jquery/mapbox-api,64,28.0,71.150.217.33

### Value Counts for pages

In [49]:
df.Resource.value_counts()

/                                                               50313
search/search_index.json                                        19519
javascript-i                                                    18983
toc                                                             18297
java-iii                                                        13733
                                                                ...
javascript/loops                                                    1
content/control-structures-ii                                       1
javascript-ii/promisesdfghjkjhgfs                                   1
app                                                                 1
appendix/professional-development/post-interview-review-form        1
Name: Resource, Length: 2313, dtype: int64

### This gives us insight into what is actually a cohort by value counting by access type

In [50]:
df.Access_Type.value_counts()

28.0     84031
33.0     40730
29.0     38096
62.0     37109
53.0     36902
24.0     35636
57.0     33844
56.0     33568
51.0     32888
59.0     32015
22.0     30926
58.0     29855
32.0     29356
23.0     28534
52.0     28033
26.0     27749
34.0     26538
25.0     25586
31.0     25359
132.0    23691
55.0     21582
27.0     20743
61.0     17713
134.0    16623
135.0    16397
133.0    14715
14.0      9587
1.0       8890
137.0     8562
21.0      7444
138.0     7276
17.0      4954
13.0      2845
18.0      2158
8.0       1712
139.0     1672
19.0      1237
16.0       755
15.0       691
7.0        598
12.0       302
11.0       253
2.0         93
6.0         72
9.0          5
4.0          4
5.0          1
Name: Access_Type, dtype: int64

In [162]:
dfA = df[df.Access_Type.isnull()]

In [163]:
dfA

,Timestamp,Resource,User_ID,Access_Type,IP_Address
2018-01-26,16:46:16,/,48,NaN,97.105.19.61
2018-01-26,16:46:24,spring/extra-features/form-validation,48,NaN,97.105.19.61
2018-01-26,17:54:24,/,48,NaN,97.105.19.61
2018-01-26,18:32:03,/,48,NaN,97.105.19.61
2018-01-26,18:32:17,mysql/relationships/joins,48,NaN,97.105.19.61
...,...,...,...,...,...
2021-04-21,12:49:00,javascript-ii,717,NaN,136.50.102.126
2021-04-21,12:49:02,javascript-ii/es6,717,NaN,136.50.102.126
2021-04-21,12:51:27,javascript-ii/map-filter-reduce,717,NaN,136.50.102.126
2021-04-21,12:52:37,javascript-ii/promises,717,NaN,136.50.102.126
2021-04-21,12:56:26,javascript-ii/RESTful-api,717,NaN,136.50.102.126

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 900223 entries, 2018-01-26 to 2021-04-21
Data columns (total 5 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Timestamp    900223 non-null  object
 1   Resource     900222 non-null  object
 2   User_ID      900223 non-null  int64
 3   Access_Type  847330 non-null  float64
 4   IP_Address   900223 non-null  object
dtypes: float64(1), int64(1), object(3)
memory usage: 41.2+ MB

In [63]:
list(dfA.User_ID.unique())

[48,
 54,
 58,
 59,
 61,
 62,
 63,
 73,
 74,
 78,
 79,
 86,
 88,
 89,
 100,
 103,
 111,
 137,
 166,
 176,
 213,
 247,
 317,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 372,
 375,
 403,
 406,
 429,
 544,
 64,
 713,
 714,
 715,
 716,
 717,
 718,
 663,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 346,
 731,
 736,
 644,
 744,
 782,
 810,
 814,
 815]

In [144]:
len(list(dfA.Resource.unique()))

1112

### Back to my question.  I am grouping by access type and resource and counting the amount of hits by cohort

In [160]:
df_combined = df.groupby(['Access_Type', 'Resource'], as_index=False).size()
len(list(df_combined.Access_Type.unique()))

47

In [150]:
df_highcounts = df_combined[df_combined['size'] > 500]

In [153]:
pd.set_option('display.max_rows', 300)
df_highcounts.Resource.nunique()

32

In [157]:
list(df_highcounts.Access_Type)

[1.0,
 14.0,
 21.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 23.0,
 23.0,
 23.0,
 23.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 25.0,
 25.0,
 25.0,
 25.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 27.0,
 27.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 29.0,
 29.0,
 29.0,
 29.0,
 29.0,
 29.0,
 29.0,
 29.0,
 29.0,
 29.0,
 29.0,
 29.0,
 31.0,
 31.0,
 31.0,
 32.0,
 32.0,
 32.0,
 32.0,
 32.0,
 33.0,
 33.0,
 33.0,
 33.0,
 33.0,
 33.0,
 33.0,
 33.0,
 33.0,
 33.0,
 33.0,
 33.0,
 34.0,
 34.0,
 34.0,
 34.0,
 34.0,
 34.0,
 51.0,
 51.0,
 51.0,
 51.0,
 51.0,
 51.0,
 51.0,
 51.0,
 51.0,
 51.0,
 52.0,
 52.0,
 52.0,
 52.0,
 53.0,
 53.0,
 53.0,
 53.0,
 53.0,
 53.0,
 53.0,
 53.0,
 53.0,
 53.0,
 53.0,
 55.0,
 55.0,
 55.0,
 56.0,
 56.0,
 56.0,
 56.0,
 56.0,
 56.0,
 56.0,
 56.0,
 56.0,
 57.0,
 57.0,
 57.0,
 57.0,
 57.0,
 57.0,
 57.0,
 57.0,
 57.0,
 57.0,
 57.0,
 57.0,
 57.0,
 58.0,
 58.0,
 58.0,
 58.0,
 58.0,
 58.0,
 58.0,
 58.0,
 59.0,
 59.0,
 59.0,
 59.0,
 59.0,
 59.0,
 59.0,
 61.0,
 61.0,
 62.0,
 62.0,
 62.0,
 62.0,
 62.0,
 62.0,
 62.0,
 62.0,
 62.0,
 62.0,
 132.0,
 132.0,
 133.0,
 134.0,
 135.0,
 135.0,
 135.0,
 135.0,
 137.0,
 137.0,
 137.0,
 137.0]

In [119]:
df3 =pd.DataFrame(df3)

In [121]:
df3

                                                           0
Access_Type Resource
1.0         /                                            626
            0_Classification_Algorithms                    1
            2.0_Intro_Stats                                1
            5.0_Intro_Regression                           2
            7.0_Intro_Clustering                           2
...                                                      ...
139.0       jquery                                         4
            jquery/essential-methods/attributes-and-css    1
            search/search_index.json                       9
            spring                                         2
            toc                                          101

[13565 rows x 1 columns]

In [120]:
df3.explode()

TypeError: DataFrame.explode() missing 1 required positional argument: 'column'

In [108]:
df3_high_count = df3[df3['0'] > 100]

KeyError: '0'

In [97]:
df3[df3.Access_Type == 1.0]

AttributeError: 'DataFrame' object has no attribute 'Access_Type'

In [79]:
df2 = df[['Resource', 'Access_Type']]

In [122]:
df2.Access_Type.value_counts()

28.0     84031
33.0     40730
29.0     38096
62.0     37109
53.0     36902
24.0     35636
57.0     33844
56.0     33568
51.0     32888
59.0     32015
22.0     30926
58.0     29855
32.0     29356
23.0     28534
52.0     28033
26.0     27749
34.0     26538
25.0     25586
31.0     25359
132.0    23691
55.0     21582
27.0     20743
61.0     17713
134.0    16623
135.0    16397
133.0    14715
14.0      9587
1.0       8890
137.0     8562
21.0      7444
138.0     7276
17.0      4954
13.0      2845
18.0      2158
8.0       1712
139.0     1672
19.0      1237
16.0       755
15.0       691
7.0        598
12.0       302
11.0       253
2.0         93
6.0         72
9.0          5
4.0          4
5.0          1
Name: Access_Type, dtype: int64